<h1>New Book</h1>

<div class="bookstore-form">
  <%= error_messages_for "book" %>

  <fieldset>
    <legend>Please Enter Book Information</legend>

    <% form_for(@book, :html => {:multipart => true}) do |f| %>

      <b>
        <p>
          <%= f.label :picture %>
          <%= f.file_field :picture %>
        </p>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label :books_category_id, "Category" %>
          <%= select("book", "books_category_id", BooksCategory.find(:all).collect{ |c| [ c.name, c.id] }) %>
        </p>
        <p>
          <%= f.label :author %>
          <%= f.text_field :author %>
        </p>
        <p>
          <%= f.label :description %>
          <%= f.text_area :description, :rows => 3, :cols => 40 %>
        </p>
        <p>
          <%= f.label :isbn, "ISBN" %>
          <%= f.text_field :isbn %>
        </p>
        <p>
          <%= f.label :price %>
          <%= f.text_field :price %>
        </p>
        <p>
          <%= f.submit 'Create', :class => "submit" %>
        </p>
      </b>
    <% end %>
  </fieldset>
</div>

<b><%= link_to 'Back', books_path %></b>