<h1>Editing administrator</h1>

<div class="bookstore-form">
  <%= error_messages_for "user" %>

  <fieldset>
    <legend>Please Edit Administrator Information</legend>
    <% form_for(@administrator) do |f| %>
      <%= f.error_messages %>

      <p>
        <label for="name">Name</label>
        <%= f.text_field :name %>
      </p>
      <p>
        <label for="email">Email</label>
        <%= f.text_field :email %>
      </p>
      <p>
        <label for="administrator_password">Password:</label>
        <%= f.password_field :password %>
      </p>
      <p>
        <label for="administrator_password_confirmation">Confirm:</label>
        <%= f.password_field :password_confirmation %>
      </p>
      <p>
        <%= f.submit 'Update', :class => "submit" %>
      </p>
    <% end %>
  </fieldset>
</div>

<%= link_to 'Show', @administrator %> |
<%= link_to 'Back', administrators_path %>